<!DOCTYPE html>
<html>

<head>
    <title>Express Validator Example</title>
</head>

<body>
    <h1>Express Validator Example</h1>
    <% if (errors.length> 0) { %>
        <ul>
            <% errors.forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }); %>
        </ul>
        <% } %>
            <form action="/" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="regNo">Registration No.:</label>
                <input type="text" id="regNo" name="regNo"><br><br>
                <label for="rollNo">Roll No.:</label>
                <input type="text" id="rollNo" name="rollNo"><br><br>
                <label for="mobileNo">Mobile No.:</label>
                <input type="text" id="mobileNo" name="mobileNo"><br><br>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email"><br><br>
                <button type="submit">Submit</button>
            </form>
</body>

</html>