/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    color: #333;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Navbar Styles */
.nav-center {
    max-width: 1170px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo {
    height: 40px;
}

.links {
    display: flex;
}

.links li:not(:last-child) {
    margin-right: 1.5rem;
}

.links a {
    color: #333;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.links a:hover {
    color: #007bff;
}

.social-icons {
    display: flex;
}

.social-icons li:not(:last-child) {
    margin-right: 1rem;
}

.social-icons a {
    color: #333;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #007bff;
}
