<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f2f2f2;
        }

        .container {
            margin-top: 50px;
            text-align: center;
        }

        h1 {
            font-size: 3rem;
            color: #007bff;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 30px;
        }

        .btn {
            padding: 10px 20px;
            margin-right: 10px;
        }
    </style>
</head>

<body>
    {{>navbar}}
    <div class="container">
        <h1>Registration Successful</h1>
        <p>Thank you for registering with us!</p>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-secondary">Register Again</a>
    </div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
